*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%); */
    background: linear-gradient(160deg,#16c9f6 55%,#fff 0%);
}
h1{
    text-align: center;
    padding: 20px;
    color: black;
    font-weight: bold; 
    font-size: 2.5rem; 
}

h2{
    text-align: center;
    margin-top: 40px;
    color: black;
    font-weight: bold;
    font-size: xx-large;
}

p{
    position: fixed;
     bottom: 0;
     right: 0;
     font-size: xx-large;
     font-weight: bolder;
}